<!doctype html>
<html lang="en">
  <head>
    <title>sample</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- ____________________________ Style CSS ____________________________ -->
    <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/animate.min.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="font-awesome/css/font-awesome.min.css") }}>
    <link href="https://allfont.ru/allfont.css?fonts=droid-serif" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_var2.ico') }}">
  </head>
  <body>
<!-- ____________________________ START ____________________________ -->
<div class="container-fluid">
<main>
  <header>

    <nav>
      {% include 'navigation.html' %}
      <div class="account">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('user', id=current_user.id) }}">{{ current_user.name }} {{ current_user.surname }}</a>
          <a href="{{ url_for('logout') }}">Выйти</a>
        {% else %}
          <a href="{{ url_for('login') }}">Войти</a>
        {% endif %}
      </div>
    </nav>
    
  </header>

    <aside class="alert" role="alert">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <h1 style="text-align: center; color:rgb(241, 224, 147);"> {{ message }} </h1>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </aside>


{% block content %}
{% endblock %}

  <footer>
    {% include 'footer.html' %}
  </footer>
</main>
</div> <!-- /container-wrap -->
<!-- ____________________________ FINISH ____________________________ -->   
<!-- ____________________________  JavaScript ____________________________ -->
    <script src= {{ url_for("static", filename="js/jquery-3.4.1.slim.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/popover.js") }}></script>
    <script src= {{ url_for("static", filename="js/bootstrap.bundle.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/bootstrap.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/script.js") }}></script>
  </body>
</html>