<!doctype html>
<html lang="en">
  <head>
    <title>sample</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- ____________________________ Style CSS ____________________________ -->
    <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/animate.min.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="font-awesome/css/font-awesome.min.css") }}>
  </head>
  <body>
<!-- ____________________________ START ____________________________ -->




<h1>hello</h1>




<!-- ____________________________ FINISH ____________________________ -->   
<!-- ____________________________  JavaScript ____________________________ -->
    <script src= {{ url_for("static", filename="js/jquery-3.4.1.slim.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/popover.js") }}></script>
    <script src= {{ url_for("static", filename="js/bootstrap.bundle.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/bootstrap.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/script.js") }}></script>
  </body>
</html>