{% extends 'base.html' %}
{% block content %}
<div class="logo-wrap">
    <h3>СДЕЛАНО В УЗБЕКИСТАНЕ</h3>
</div>


<hr>

<div class="wrapper-sections">
    <div class="section-block-1">

            <figure>
                <img src="/static/images/emblem.png" width="322" height="322" margin="0"  alt="emblem">
            </figure>

            <div class="text">
                <span>Мы благодарим Вас за посещение нашего сайта. Цель его создания </span><br>
                <span>- налаживание прямых торговых отношений с производителями </span><br>
                <span>конкурентной продукции , работающих</span><br>
                <span>на территории солнечного Узбекистана.</span><br>
                <br><br>
                <span>__________________________________________________________</span>
            </div> <!-- /text -->

    </div> <!-- /section-block-1 -->

    <hr>

    <div class="section-block-2">
        <h4>ПРОМЫШЛЕННЫЕ ПРЕДПРИЯТИЯ УЗБЕКИСТАНА</h4>

        <div class="figure">
            <img src="/static/images/SUBDRY.png"alt="subdry">
        </div>

        <div class="button">
            <a href="#">ДЛЯ ПАРТНЕРОВ</a>
        </div>

        <br><br>

    </div>
</div>
{% endblock %}