<div class="wrapper-nav">
    
    <ul class="nav-item" id="n1">
        <li><a href="#">ЗДРАВСТВУЙТЕ</a></li>
    </ul> <!-- /nav-item -->

    <ul class="nav-item" id="n2">
        <li><a href="#">ПРОИЗВОДИТЕЛИ</a></li>
    </ul> <!-- /nav-item -->

    <ul class="nav-item" id="n3">
        <li><a href="/login">ЗАКАЗАТЬ</a></li>
    </ul> <!-- /nav-item -->

    <ul class="nav-item" id="n4">
        <li><a href="/register">ПРЕДСТАВИТЕЛЬСТВА</a></li>
    </ul> <!-- /nav-item -->

</div> <!-- /wrapper-nav -->

<div class="ruling">
    {% if current_user.is_authenticated and current_user.email == "email@dmin.net" %}
        <div class="account">
            <a class="mr-3" href="/admin">Администрирование</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
        </div>
    {% else %}

        {% if current_user.is_authenticated and current_user.email != "email@dmin.net"  %}
            <div class="account">
                <a class="mr-3" href="{{ url_for('user', id=current_user.id) }}">{{ current_user.name }} {{ current_user.surname }}</a>
                <a href="{{ url_for('logout') }}">Выйти</a>
            </div> <!-- /account -->

        {% else %}
            <div class="account">
                <a class="mr-3" href="{{ url_for('login') }}">Войти</a>
                <a href="{{ url_for('register') }}">Зарегистрироватся</a>
            </div>
        {% endif %}

    {% endif %}
</div> <!-- /.ruling -->